@using uStore.UI.MVC.Models
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title Home | Barking Plaid</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("css", required: false)
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    @*<link href="~/Content/bootstrap2.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/indexbootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/indexbootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="~/themes/css/bootstrappage.css" rel="stylesheet" />
    <link href="~/themes/css/flexslider.css" rel="stylesheet" />
    <link href="~/themes/css/main.css" rel="stylesheet" />
</head>
<body>
    <div id="top-bar" class="container">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Barking Plaid</h1>

                <h4>Providing pooches with uplifting fashion since 2018</h4>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="Search...">
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index.html" class="logo pull-left"></a>
                <nav id="menu" class="pull-right">
                    <ul>

                        <li><a href="@Url.Action("Index", "Products")">Clothing</a></li>
                        <li><a href="@Url.Action("Index", "Employees")">Employees</a></li>
                        <li><a href="@Url.Action("Index", "Departments")">Departments</a></li>
                        @*<li><a href="@Url.Action("Index", "ProductStatus")">Product Status</a></li>*@
                        <li><a href="@Url.Action("Index", "ProductCategories")">Product Categories</a></li>

                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>

                        @{
                            Dictionary<int, ShoppingCartViewModel> shoppingCart = null;

                            //Check the global shopping cart
                            if (Session["cart"] != null)
                            {
                                //if it has stuff in it, reassign to the local
                                shoppingCart = (Dictionary<int, ShoppingCartViewModel>)Session["cart"];

                                if (shoppingCart.Count > 0)
                                {
                                    <li><a href="@Url.Action("Index", "ShoppingCart")">Cart</a></li>

                                }
                            }
                        }


                        @*Checking for a logged in user*@
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("LogOff","Account")">Log out</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Wishlist")">Wishlist</a>
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Register","Account")"><i class="fa fa-user"></i> Register</a></li>
                            <li><a href="@Url.Action("Login","Account")"><i class="fa fa-lock"></i> Login</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </section>

        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.ErrorMessage != null)
            {
                    <div class="text-center alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>
        @RenderBody()
    </div>



    <footer class="container-fluid text-center">
        <p>Barking Plaid Copyright @DateTime.Now.Year</p>
        <form class="form-inline">
            Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>

        </form>
        <div id="adminLink" onclick="openNav()" class="button">
            <span class="vertical-text">ADMIN</span>
        </div>
        <div id="adminSideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                &times;
            </a>
            <a href="@Url.Action(" Index","UsersAdmin")">User Admin</a>
            <a href="@Url.Action(" Index", "UsersAdmin" )">Roles Admin</a>
            <a href="#">Manage Titles</a>
            <a href="#">Manage Authors</a>
        </div>

    </footer>
</body>
</html>
<script src="~/themes/js/jquery-1.7.2.min.js"></script>
<script src="~/indexbootstrap/js/bootstrap.min.js"></script>
@*<script src="~/themes/js/superfish.js"></script>*@
<script src="~/themes/js/jquery.scrolltotop.js"></script>
<script src="~/themes/js/jquery-1.7.2.min.js"></script>
@*<script src="~/themes/js/common.js"></script>*@
<script src="~/themes/js/jquery.flexslider-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
    function openNav() {
        document.getElementById('adminSideNav').style.width = "250px";
        document.getElementById('adminLink').style.display = 'none';
    }
    function closeNav() {
        document.getElementById('adminSideNav').style.width = "0";
        document.getElementById('adminLink').style.display = 'block';
    }
</script>
@*<script type="text/javascript" src="~/Scripts/SelectedNav.js"></script>*@
@RenderSection("scripts", required: false)





